.tag {
    display: inline-block;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 2px;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1;
    background-color: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
}
