.commentCard {
    padding: 16px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    line-height: 1.5;
    color: hsl(211, 10%, 45%);

    &__header {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__username {
        font-weight: 700;
        color: hsl(212, 24%, 26%);
    }

    &__body {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
