.commentCard {
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5;
    background-color: hsl(0, 0%, 100%);
    color: hsl(211, 10%, 45%);

    &__content {
        width: 100%;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mobileActions {
        margin-left: auto;
    }

    &__alertButtons {
        display: flex;
        gap: 16px;
    }
}

$cardSpacingDesktop: 24px;

@media screen and (min-width: 1440px) {
    .commentCard {
        padding: $cardSpacingDesktop;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: $cardSpacingDesktop;

        &__buttons {
            display: flex;
            gap: 16px;
        }

        &__score {
            order: 1;
        }

        &__content {
            order: 2;
        }
    }
}
