.commentThread {
    &__list {
        padding-inline-start: 16px;
        border-inline-start: 2px solid hsl(223, 19%, 93%);
    }

    &__reply {
        margin-block-start: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .commentThread {
        &__list {
            padding-inline-start: 32px;
            margin-inline-start: 32px;
        }
    }
}
