$inlinePadding: 32px;
$blockPadding: 16px;

.button {
    padding-inline: $inlinePadding;
    padding-block: $blockPadding;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;

    &--rounded {
        border-radius: 8px;
    }

    &--primary {
        background-color: hsl(238, 40%, 52%);
        color: hsl(0, 0%, 100%);
    }

    &--secondary {
        background-color: hsl(211, 10%, 45%);
        color: hsl(0, 0%, 100%);
    }

    &--danger {
        background-color: hsl(358, 79%, 66%);
        color: hsl(0, 0%, 100%);
    }
}
