.alertDialog {
    &__overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsla(0, 0, 0, 0.6);
    }

    &__content {
        padding: 24px;
        border-radius: 12px;
        margin-inline: 16px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(211, 10%, 45%);
    }

    &__title {
        margin: 0;
        font-size: 1.25em;
        font-weight: 500;
        color: hsl(212, 24%, 26%);
    }
}
